.hmce-block-selections__block {
	position: relative;

	&.is-peer-selected {
		outline: 2px dashed #000;
	}
}

.hmce-block-selections__block-peer-names {
	background-color: #000;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	padding: 0 5px;
	position: absolute;
	top: -24px;
	right: 0;
}

.hmce-block-selections--caret {
	background: #eee;
	position: relative;

	&.is-collapsed {
		background: none;
	}

	&::before {
		background: inherit;
		bottom: 0;
		box-shadow: 0 0 2px 0 #2e3d48;
		content: "";
		font-size: 1em;
		left: -1px;
		position: absolute;
		top: 0;
		width: 2px;
	}

	&::after {
		background-color: inherit;
		box-shadow: 0 0 2px 0 #2e3d48;
		content: "";
		height: 8px;
		left: -4px;
		position: absolute;
		top: -8px;
		width: 8px;
	}

	&.is-at-end::before {
		left: auto;
		right: -1px;
	}

	&.is-at-end::after {
		left: auto;
		right: -4px;
	}
}
